
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card">


            <div class="card-body">
                <div class="input-group login-input mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        +971
                    </span>
                    <input type="text" class="form-control" placeholder="50000012">
                </div>

                <textarea class="form-control" placeholder="How Can We Help You.."></textarea>

                <button class="btn w-100 mt-4 theme-bg2 text-light ">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>