<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marsool Delivery Services</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/webAsset/deliver/css/tiket.css">
    <link rel="stylesheet" href="/webAsset/deliver/css/index.css">
</head>
<body>
    <section class="cover-area">
        <nav class="navbar navbar-expand-lg bg-light main-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/webAsset/deliver/imgs/logo.png" width="100px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="direction:rtl">
                            <a class="nav-link active" aria-current="page" href="/">
                                <button class="btn theme-btn theme-orange">
                                    <i class="bi bi-shop mx-2"></i>
                                    Market Place
                                </button>
                            </a>
                        </li>
                        <li class="nav-item" style="direction:rtl">
                            <a class="nav-link" aria-current="page" href="/Main/Index?catMode=59">
                                <button class="btn theme-btn theme-orange">
                                    <i class="bi bi-shop mx-2"></i>
                                    Food
                                </button>
                            </a>
                        </li>

                        <li class="nav-item" style="direction:rtl">
                            <a class="nav-link active" aria-current="page" href="#">
                                <i class="bi bi-geo-alt"></i>
                                Track My Order
                            </a>
                        </li>

                        <li class="nav-item" style="direction:rtl">
                            <a class="nav-link active" aria-current="page" href="#">
                                <i class="bi bi-box-arrow-in-right"></i>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container main-container h-100">
            <div class="row">
                <div class="col-lg-10 col-md-6 col-sm-12 mb-2 d-flex justify-content-center">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="content-icon">
                                <i class="bi bi-box-seam"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="content-area">
                                <h1>
                                    Super Fast Pick Up &amp; Drop-off Service
                                </h1>
                                <p class="border-top">
                                    Convenience at your finger tips.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2 d-flex align-items-center"></div>
            </div>
        </main>
    </section>

    <section class="px-3 content-section">
        <div class="container app-area">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                    <h1 class="main-title mb-5" id="read-point">
                        <i class="bi bi-archive mx-2"></i>
                        Send Packages in Dubai, Abu Dhabi, Sharjah, Ajman, Al Ain
                    </h1>

                    <!-- Section 1 start-->
                    <div class="section d-non " id="locations-section">
                        <div class="input-field mb-3">
                            <div class="trailing">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                            <div class="form-floating w-100">
                                <input type="text" id="pickup-loc" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                <label for="floatingInput">Enter Pickup Location</label>
                            </div>
                            <div class="trailing trailing-right">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>

                        <div class="input-field mb-3">
                            <div class="trailing">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                            <div class="form-floating w-100">
                                <input type="text" id="dropoff-loc" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                <label for="floatingInput">Enter Pickup Location</label>
                            </div>
                            <div class="trailing trailing-right">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>

                        <div class="mt-5 alert alert-light text-muted">
                            <i class="bi bi-shield-exclamation mx-2"></i>
                            <small>
                                By continuing you agree to the Terms &amp; Conditions and Privacy
                            </small>
                        </div>

                        <div class="row">
                            <div class="col text-end">
                                <button class="btn theme-move nexts mt-3 px-5" id="step1">
                                    NEXT
                                    <i class="bi bi-arrow-right mx-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Section 2 start-->
                    <div class="section d-none" id="select-package-type">
                        <h4 class="input-title">
                            <i class="bi bi-box2 mx-2"></i>
                            What’s inside your package?
                        </h4>

                        <div class="input-field mb-3">
                            <div class="trailing">
                                <i class="bi bi-view-list"></i>
                            </div>
                            <div class="form-floating w-100">
                                <select class="form-select" id="pack-type">
                                    <option selected="">Open this select menu</option>
                                    <option value="Documents">Documents</option>
                                    <option value="Clothes">Clothes</option>
                                    <option value="Accessories">Accessories</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label for="floatingSelect">Select Package Type</label>
                            </div>
                            <div class="trailing trailing-right">
                                <!-- <i class="bi bi-search"></i> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-end">
                                <button class="btn theme-move previous mt-3 px-5" id="step2">
                                    <i class="bi bi-arrow-left mx-1"></i>
                                    Previous

                                </button>
                                <button class="btn theme-move nexts mt-3 px-5" id="step2">
                                    NEXT
                                    <i class="bi bi-arrow-right mx-1"></i>
                                </button>
                               
                            </div>
                        </div>
                    </div>

                    <!-- Section 3 start-->
                    <div class="section d-none" id="shipping-type">
                        <h4 class="input-title">
                            <i class="bi bi-truck mx-2"></i>
                            Your package will fit in:
                            <input type="hidden" value="2" alt="Van" id="v-type">
                        </h4>

                        <div class="row mt-4">
                            <div class="col mb-2">
                                <div class="del-card VCards mx-2" id="Bike" aria-label="1">
                                    <img src=" /webAsset/deliver/imgs/bike.png" class="del-card-icon" width="50px" height="50px">
                                    <div class="del-card-content">
                                        <h6>Bike</h6>
                                        <small>
                                            Max Weight:<b>45GK</b>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="del-card VCards mx-2 card-active" id="Van" aria-label="2">
                                    <img src=" /webAsset/deliver/imgs/van.png" class="del-card-icon" width="70px" height="70px">
                                    <div class="del-card-content">
                                        <h6>Van</h6>
                                        <small>
                                            Max Weight: <b>10GK</b>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="input-title mt-4">
                            <i class="bi bi-calendar2-check-fill mx-2"></i>
                            When do you want your package to be delivered?
                            <input type="hidden" value="1" alt="" id="day-type">
                        </h4>

                        <div class="row mt-4">
                            <div class="col mb-2">
                                <div class="del-card DayCards mx-2" id="Same Day" aria-label="1">
                                    <div class="del-card-content">
                                        <h6>Same Day</h6>
                                        <small>40 AED</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="del-card DayCards mx-2 card-active" id="Next Day" aria-label="2">
                                    <div class="del-card-content">
                                        <h6>Next Day</h6>
                                        <small>30 AED</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="input-title mt-4">
                            <i class="bi bi-telephone-fill mx-2"></i>
                            Your Mobile Number*
                        </h4>

                        <div class="row">
                            <div class="col">
                                <div class="input-field mb-3">
                                    <div class="trailing"> +971 </div>
                                    <div class="form-floating w-100">
                                        <input type="number" id="phoneNo" class="form-control shadow-none" placeholder="Enter your phone number">
                                        <label for="floatingInput">50000001</label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="input-title mt-4">
                            <i class="bi bi-chat-left-quote-fill mx-2"></i>
                            Delivery Note
                        </h4>

                        <div class="row">
                            <div class="col">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-blockquote-right mx-2"></i>
                                    </div>
                                    <textarea class="note" id="d-note" placeholder="Any note..."></textarea>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-end">
                                <button class="btn theme-move previous mt-3 px-5" id="step3">
                                    <i class="bi bi-arrow-left mx-1"></i>
                                    Previous

                                </button>
                                <button class="btn theme-move nexts mt-3 px-5" id="step3">
                                    NEXT
                                    <i class="bi bi-arrow-right mx-1"></i>
                                </button>
                              
                            </div>
                        </div>
                    </div>

                    <!-- Section 4 start-->
                    <div class="section d-none" id="contact-info">
                        <h4 class="input-title mt-4">
                            <i class="bi bi-check2-square mx-2"></i>
                            Few More Details To Confirm Your Booking
                        </h4>

                        <div class="alert alert-sm alert-warning rounded mb-2 d-flex mt-4">
                            <div class="mx-3">
                                <h1 class="d-inline mb-0">
                                    <i class="bi bi-geo-fill"></i>
                                </h1>
                            </div>
                            <div>
                                Your Pickup Location Is : <br>
                                <b>Building No 20, Floor 4th, Office 1520</b>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                <i class="bi bi-building"></i>
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="pickup-address" class="form-control shadow-none" placeholder="Enter Pickup Address">
                                                <label for="floatingInput">
                                                    Enter/ Flat Floor, Building Name
                                                </label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                <i class="bi bi-question-circle"></i>
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="reching" class="form-control shadow-none" placeholder=" Enter/ How To Reach">
                                                <label for="floatingInput">
                                                    Enter/ How To Reach?
                                                </label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="input-title mt-4">
                            <i class="bi bi-check2-square mx-2"></i>
                            Please Select The Date &amp; Time
                        </h4>

                        <div class="row mt-4">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-calendar-date"></i>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input type="date" class="form-control shadow-none" id="date-input">
                                        <label for="floatingInput">Date at</label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-alarm"></i>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input type="time" id="pickup-time-from" class="form-control shadow-none time-input" value="" min="09:00" max="18:00">
                                        <label for="floatingInput">Time Between</label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-alarm"></i>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input type="time" id="pickup-time-to" class="form-control shadow-none time-input" min="09:00" max="18:00">
                                        <label for="floatingInput">To</label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="input-title mt-4">
                            <i class="bi bi-person-lines-fill mx-2"></i>
                            Contact At The Time Of Pickeup
                        </h4>
                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                <i class="bi bi-person-lines-fill"></i>
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="sender-name" class="form-control shadow-none" placeholder="Enter Sender Name">
                                                <label for="floatingInput">Your name is</label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                +971
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="sender-phone" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                                <label for="floatingInput">50000001</label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-sm alert-primary rounded mb-2 d-flex mt-4">
                            <div class="mx-3">
                                <h1 class="d-inline mb-0">
                                    <i class="bi bi-geo-fill"></i>
                                </h1>
                            </div>
                            <div>
                                Dropoff Location Is : <br>
                                <b>Building No 20, Floor 4th, Office 1520</b>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                <i class="bi bi-building"></i>
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="r-address" class="form-control shadow-none" placeholder="Enter reciver address">
                                                <label for="floatingInput">
                                                    Enter/ Flat Floor, Building Name
                                                </label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                <i class="bi bi-question-circle"></i>
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="r-reching" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                                <label for="floatingInput">
                                                    Enter/ How To Reach?
                                                </label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="input-title mt-4">
                            <i class="bi bi-person-lines-fill mx-2"></i>
                            Contact At The Time Dropoff
                        </h4>
                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing">
                                                <i class="bi bi-person-lines-fill"></i>
                                            </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="r-name" class="form-control shadow-none" placeholder="Enter">
                                                <label for="floatingInput">Reciver Name</label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-field mb-3">
                                            <div class="trailing"> +971 </div>
                                            <div class="form-floating w-100">
                                                <input type="text" id="r-phone" class="form-control shadow-none" placeholder="Enter reciver phone">
                                                <label for="floatingInput">50000001</label>
                                            </div>
                                            <div class="trailing trailing-right">
                                                <!-- <i class="bi bi-search"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-end">
                                <button class="btn theme-move previous mt-3 px-5" id="step4">
                                    <i class="bi bi-arrow-left mx-1"></i>
                                    Previous

                                </button>
                                <button class="btn theme-move nexts mt-3 px-5" id="step4">
                                    NEXT
                                    <i class="bi bi-arrow-right mx-1"></i>
                                </button>

                            </div>
                        </div>
                    </div>


                    <!-- Section 5 start-->
                    <div class="section d-none" id="account-info">
                        <h4 class="input-title mt-4">
                            <i class="bi bi-person-badge"></i>
                            Your Information
                        </h4>
                        <div class="alert alert-light border">
                            <small class="helper-text text-muted">
                                <i class="bi bi-info-circle mx-2"></i>
                                Please Provide your Details To Contenu The Booking.
                            </small>
                        </div>


                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-chat-square-text mx-2"></i>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input type="text" id="s-name" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                        <label for="floatingInput">
                                            Your Name Is :
                                        </label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing"> +971 </div>
                                    <div class="form-floating w-100">
                                        <input type="text" class="form-control shadow-none" placeholder="Enter Pickup Location" id="ur-phone">
                                        <label for="floatingInput">
                                            Your Phone Number
                                        </label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-envelope-fill mx-2"></i>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input type="text" id="email" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                        <label for="floatingInput">
                                            Your Email Address :
                                        </label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col d-flex justify-content-around">
                                <div class="form-check">
                                    <input class="form-check-input acc-type" type="radio" name="acc-type" id="create-account" checked="">
                                    <label class="form-check-label mx-2" for="create-account">
                                        Create My Account
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input acc-type" type="radio" name="acc-type" id="guest-account">
                                    <label class="form-check-label mx-2" for="guest-account">
                                        Contenu as Guest
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="input-field mb-3">
                                    <div class="trailing">
                                        <i class="bi bi-lock-fill mx-2"></i>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input type="password" id="password" class="form-control shadow-none" placeholder="Enter Pickup Location">
                                        <label for="floatingInput">
                                            Set a Password
                                        </label>
                                    </div>
                                    <div class="trailing trailing-right">
                                        <!-- <i class="bi bi-search"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center px-4">
                                <button class="btn theme-move previous mt-3 px-5" id="step5">
                                    <i class="fa fa-arrow-left"></i>
                                    Previous

                                </button>
                                <button class="btn theme-move nexts mt-3 px-5 py-3 w-100" id="step5">
                                    PROCEED TO PAYMENT
                                    <i class="bi bi-arrow-right mx-1"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 border-start">
                    <section class="section d-non" id="info-sec">
                        <h4 class="main-title">
                            <i class="bi bi-info-circle mx-2"></i>
                            A few things we want you to know
                        </h4>
                        <blockquote class="px-4">
                            <h6 class="sub-title">Package Weight</h6>
                            <p>
                                Weight limit/capacity - maximum 10kg
                                <br>
                                AED 2 per Extra kg with weight capped at 20kg
                            </p>
                            <h6 class="sub-title">Dimension</h6>
                            <p>
                                Maximum size/dimensions of box - 40 X 40 X 40 cm If the limit
                                is exceeded, additional charges will apply Shipments exceeding
                                80 x 80 x 80 cms size will be cancelled for pick-up
                            </p>
                            <h6 class="sub-title">Illegal Goods</h6>
                            <p>
                                Shipment contents should not contain prohibited items.
                            </p>

                            <h6 class="sub-title">Packaging</h6>
                            <p>
                                Contents should be safely packed or sealed for transportation.
                                <a href="#">Please check the complete guidelines here.</a>
                            </p>
                        </blockquote>
                    </section>

                    <section class="section d-none" id="summary-sec">


                        <div class="tiket-container">
                            <div class="row">
                                <div class="col d-flex justify-content-center ">
                                    <h2 class=" mb-5 ">
                                        <i class="bi bi-info-circle mx-2"></i>
                                        Order Summary
                                    </h2>
                                </div>
                            </div>

                            <div class="">
                                <h4 class="tiket-title mt-0">
                                    Pickup Location
                                </h4>
                                <p class="info-text pickup-loc"></p>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <p class="info-text sender-name"></p>
                                </div>
                                <div class="col">
                                    <p class="info-text sender-phone">
                                        +9715000000
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col">
                                    <p class="info-text sender-addr "></p>
                                </div>
                                <div class="col">
                                    <p class="info-text reach-by">
                                        Reach By ....
                                    </p>
                                </div>
                            </div>

                            <div class="divider mt-3 mb-3"></div>

                            <div class="">
                                <h4 class="tiket-title mt-0">
                                    Drop Off Location
                                </h4>
                                <p class="info-text dropoff-loc"></p>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <p class="info-text reciver-name"></p>
                                </div>
                                <div class="col">
                                    <p class="info-text reciver-phone"></p>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col">
                                    <p class="info-text reciver-address"></p>
                                </div>
                                <div class="col">
                                    <p class="info-text rec-reaching"></p>
                                </div>
                            </div>

                            <div class="divider mt-3 mb-3"></div>

                            <div class="row">
                                <div class="col">
                                    <h4 class="tiket-title mt-0">
                                        Vechicle Type
                                    </h4>
                                    <p class="info-text v-type">Van</p>
                                </div>
                                <div class="col">
                                    <h4 class="tiket-title mt-0">
                                        Booking Type
                                    </h4>
                                    <p class="info-text booking-type"></p>
                                </div>
                            </div>


                            <div class="divider mt-3 mb-3"></div>
                            <div class="">
                                <h4 class="tiket-title mt-0">
                                    Pickup Date and Slot
                                </h4>
                                <p class="info-text pickup-full-date">undefined, 00:00 - 00:00</p>
                            </div>

                            <div class="divider mt-3 mb-3"></div>
                            <div class="">
                                <h4 class="tiket-title mt-0">
                                    Drop-off Date and Slot
                                </h4>
                                <p class="info-text dropoff-full-date">
                                    Auto Detect From Admin
                                </p>
                            </div>

                            <div class="divider mt-3 mb-3"></div>
                            <div class="row">
                                <div class="col d-flex justify-content-between">
                                    <h5 class="info-title d-inline">
                                        Distance
                                    </h5>

                                    <h6 class="info-title d-inline">
                                        20 km
                                    </h6>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between">
                                    <h6 class="info-title d-inline">
                                        Delivery Charge
                                    </h6>

                                    <h6 class="info-title d-inline">
                                        33 AED
                                    </h6>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between">
                                    <h6 class="info-title d-inline">
                                        VAT(5%)
                                    </h6>

                                    <h6 class="info-title d-inline">
                                        1.56 AED
                                    </h6>
                                </div>
                            </div>

                            <div class="divider-solid mt-3 mb-3"></div>
                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between">
                                    <h4 class="info-title d-inline">
                                        To Pay
                                    </h4>

                                    <h4 class="info-title d-inline">
                                        34.65 AED
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/webAsset/deliver/js/index.js"></script>

    <style>
        .h-100{
            height:unset !important;
        }
    </style>
</body>
</html>
