@model banimo.ViewModel.aboutVM
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_Layout13.cshtml";
}


<div class="card" style="direction:rtl; text-align:right;width:90%; background-color:white; padding:50px; margin:80px auto ;  line-height:3">
    @Html.Raw(Model.content);
</div>