
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Import A-Frame and AR.js libraries -->
    <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>

    <!-- Loading Screen Styles -->
    <style>
        .arjs-loader {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .arjs-loader div {
                text-align: center;
                font-size: 1.25em;
                color: white;
            }
    </style>
</head>
<body style="margin : 0px; overflow: hidden;">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

    <model-viewer src="https://modelviewer.dev/shared-assets/models/Astronaut.glb"
                  ios-src="https://modelviewer.dev/shared-assets/models/Astronaut.usdz"
                  alt="A 3D model of an astronaut"
                  ar
                  auto-rotate
                  camera-controls></model-viewer>
</body>
</html>




