@model banimo.ViewModel.aboutVM
@{
    ViewBag.Title = "حریم خصوصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .conholder {
        direction: rtl;
        text-align: right;
        width: 100%;
        background-color: white;
        padding: 50px;
        line-height: 3;
        font-size:16px
    }
</style>

<div class="conholder" style="">
    @Html.Raw(Model.content);
</div>