@model banimo.ViewModel.contactSectionVM



<div id="footer">
    <div class="footer-wrapper xmt-16 xmt-lg-20">
        <div class="container">
            <div class="row">

                <aside class="col-12 order-2 order-lg-1">
                    <div class="register-banner d-block d-md-flex text-center justify-content-between align-items-center xp-8 xpr-md-10 xpl-md-10 xmt-16 xmt-lg-0">
                        <div class="text">
                            <h2>
                                برای اطلاع از آخرین تخفیف&zwnj;ها و جشنواره&zwnj;ها ثبت&zwnj;نام
                                کنید.
                            </h2>
                        </div>
                        <div class="register-banner-button xmt-22 xmt-md-0">
                            <a href="/login" dideo-checked="true">ثبت نام</a>
                        </div>
                    </div>
                </aside>


                <div class="col-12 order-1 order-lg-2 xmt-lg-12 logo-slide xpx-0">
                    <div class="swiper footer-logo-sayman swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper" id="swiper-wrapper-a8dee2cd27029521" aria-live="polite">
                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 4"
                                 style="width: 312px; margin-left: 24px;">
                                <div class="special-footer-box d-flex justify-content-center align-items-center flex-column">
                                    <div class="img">
                                        <i class="icon ">
                                            <svg id="Layer_1" data-name="Layer 1"
                                                 xmlns="http://www.w3.org/2000/svg" width="77.5"
                                                 height="96.748"
                                                 viewBox="0 0 77.5 96.748">
                                                <path id="Path_504" data-name="Path 504"
                                                      d="M73.86,39.34l3.64-6.82-5.76-5.18,1.08-7.66-7.18-2.9L64,9.2l-7.74-.26-4-6.56L44.84,4.76,38.74,0l-6.1,4.76L25.28,2.38l-4.1,6.56-7.72.26-1.62,7.58-7.16,2.9,1.06,7.66L0,32.52l3.62,6.82L0,46.18l5.74,5.18L4.68,59.02,11.84,62l1.62,7.56,6.94.24V94.76a1.98,1.98,0,0,0,2.98,1.72l15.06-8,15.08,8a1.86,1.86,0,0,0,.92.24,2.14,2.14,0,0,0,1.04-.28,2,2,0,0,0,.96-1.72V69.76L64,69.48l1.6-7.56,7.18-2.9L71.7,51.36l5.76-5.18ZM39.34,84.56a2,2,0,0,0-1.86,0L24.4,91.44V74.9l.88,1.42L32.64,74l6.1,4.76L44.84,74l7.36,2.4.2-.34V91.52ZM72.5,45.3l-5,4.5.92,6.68L62.18,59l-1.4,6.6L54,65.84l-3.58,5.7-6.4-2L38.7,73.7l-5.3-4.16-6.42,2-3.56-5.7-6.7-.24L15.32,59,9.06,56.48,10,49.8,5,45.3l3.16-6L5,33.3l5-4.42L9.06,22.2l6.26-2.52,1.4-6.58,6.74-.24,3.56-5.72,6.42,2L38.74,5,44,9.22l6.4-2L54,12.86l6.74.24,1.4,6.58,6.24,2.52-.92,6.68,5,4.52-3.16,6Z"></path>
                                                <path id="Path_505" data-name="Path 505"
                                                      d="M28.84,10.383a22,22,0,0,1,16.5,7.44l3.1-2.64a26,26,0,0,0-38.88-.14l2.88,2.68a22,22,0,0,1,16.4-7.34Z"
                                                      transform="translate(9.56 6.377)"></path>
                                                <path id="Path_506" data-name="Path 506"
                                                      d="M28.95,34.1a22,22,0,0,1-16.4-7.44l-3.1,2.68a26,26,0,0,0,39.1,0l-3-2.64a22,22,0,0,1-16.6,7.4Z"
                                                      transform="translate(9.45 26.66)"></path>
                                                <path id="Path_507" data-name="Path 507"
                                                      d="M25.2,34.38v-12h-12v-4h12v-4H9.2v12h12v4H9.2v4h16Z"
                                                      transform="translate(9.2 14.38)"></path>
                                                <rect id="Rectangle_146014" data-name="Rectangle 146014"
                                                      width="4" height="4"
                                                      transform="translate(38.4 44.76)"></rect>
                                                <rect id="Rectangle_146015" data-name="Rectangle 146015"
                                                      width="12" height="4"
                                                      transform="translate(38.4 36.76)"></rect>
                                                <rect id="Rectangle_146016" data-name="Rectangle 146016"
                                                      width="4" height="4"
                                                      transform="translate(38.4 28.76)"></rect>
                                                <path id="Path_508" data-name="Path 508"
                                                      d="M23.2,14.38v4h8v12h-8v4h12v-20h-12Z"
                                                      transform="translate(23.2 14.38)"></path>
                                            </svg>

                                        </i>
                                    </div>
                                    <div class="text">
                                        <p>ضمانت اصل بودن کالا</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 4"
                                 style="width: 312px; margin-left: 24px;">
                                <div class="special-footer-box d-flex justify-content-center align-items-center flex-column">
                                    <div class="img">
                                        <i class="icon ">
                                            <svg id="Layer_1" data-name="Layer 1"
                                                 xmlns="http://www.w3.org/2000/svg" width="96"
                                                 height="91.72"
                                                 viewBox="0 0 96 91.72">
                                                <path id="Path_494" data-name="Path 494"
                                                      d="M32.22,3.87,31.02.13A48.28,48.28,0,0,0,2.38,25.01l3.6,1.74A44.18,44.18,0,0,1,32.22,3.87Z"
                                                      transform="translate(2.38 0.031)"></path>
                                                <path id="Path_495" data-name="Path 495"
                                                      d="M4,23H0A47.84,47.84,0,0,0,33.4,68.74L34.6,65A43.84,43.84,0,0,1,4,23Z"
                                                      transform="translate(0 22.901)"></path>
                                                <path id="Path_496" data-name="Path 496"
                                                      d="M61.3,23A43.84,43.84,0,0,1,30.7,65l1.2,3.82A47.84,47.84,0,0,0,65.3,23Z"
                                                      transform="translate(30.7 22.901)"></path>
                                                <path id="Path_497" data-name="Path 497"
                                                      d="M81,45.95A37.76,37.76,0,0,0,70.44,19.67a2,2,0,0,0-2.66-.2l-8,6.12a2,2,0,0,0-.18,3.04A23.72,23.72,0,0,1,67,45.95a24,24,0,1,1-24-24v6a1.994,1.994,0,0,0,3.22,1.58l18-14a1.909,1.909,0,0,0-.12-3.16l-18-12A2.016,2.016,0,0,0,43,1.95v6a38,38,0,1,0,38,38Zm-38,34a34,34,0,1,1,0-68h2a2,2,0,0,0,2-2V5.69l12.58,8.38L47,23.95v-4a2,2,0,0,0-2-2H43a28,28,0,1,0,20.98,9.46l4.78-3.66A34,34,0,0,1,43,79.95Z"
                                                      transform="translate(5 -0.05)"></path>
                                                <path id="Path_498" data-name="Path 498"
                                                      d="M21.76,17.53l-3.68,1.54,10,24a2,2,0,0,0,3.68,0l10-24-3.68-1.54L29.92,37.11Z"
                                                      transform="translate(18.08 17.431)"></path>
                                            </svg>

                                        </i>
                                    </div>
                                    <div class="text">
                                        <p>گارانتی ۷ روز برگشت</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 4"
                                 style="width: 312px; margin-left: 24px;">
                                <div class="special-footer-box d-flex justify-content-center align-items-center flex-column">
                                    <div class="img">
                                        <i class="icon ">
                                            <svg id="Layer_2" data-name="Layer 2"
                                                 xmlns="http://www.w3.org/2000/svg" width="110.015"
                                                 height="54"
                                                 viewBox="0 0 110.015 54">
                                                <g id="Layer_1" data-name="Layer 1">
                                                    <path id="Path_499" data-name="Path 499"
                                                          d="M104,24h-.82L96.84,12.62A6,6,0,0,0,91.88,10H78V0H42V4H74V40H47.16a10,10,0,0,0-18.3,0H20v4h8a10,10,0,0,0,20,0H82a10,10,0,0,0,20,0h2a6,6,0,0,0,6-6V30.42A6,6,0,0,0,104,24ZM38,50a6,6,0,1,1,6-6,6,6,0,0,1-6,6Zm54,0a6,6,0,1,1,6-6,6,6,0,0,1-6,6Zm14-12a2,2,0,0,1-2,2h-2.86a10,10,0,0,0-18.3,0H78V14H91.88a2,2,0,0,1,1.56.72L100.82,28H104c1.32,0,2,.82,2,2.42ZM0,26H18V22H0ZM22,10H8v4H22ZM44,30V18H32V14H44V10H28V22H40v4H28v4Zm4,0h4V26H48Zm0-8H60V18H48Zm0-12v4h4V10Zm8,16v4H68V10H56v4h8V26Z"></path>
                                                    <path id="Path_500" data-name="Path 500"
                                                          d="M48.34,11.65l3.26,4.9H40v4H56v-4.6l-4.34-6.5Z"
                                                          transform="translate(40 9.45)"></path>
                                                </g>
                                            </svg>

                                        </i>
                                    </div>
                                    <div class="text">
                                        <p>ارسال سریع کالا</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 4"
                                 style="width: 312px; margin-left: 24px;">
                                <div class="special-footer-box d-flex justify-content-center align-items-center flex-column">
                                    <div class="img">
                                        <i class="icon ">
                                            <svg id="Layer_1" data-name="Layer 1"
                                                 xmlns="http://www.w3.org/2000/svg" width="60" height="96"
                                                 viewBox="0 0 60 96">
                                                <path id="Path_501" data-name="Path 501"
                                                      d="M60,0H14V43L6.64,48.52C3.76,51.18,2,53.14,2,58V86H0V96H4V90H36v6h4V86H36V84.94c1.8-1.58,6-5.78,6-10.94V72H60ZM38,74c0,4.42-5.16,8.36-5.2,8.4L32,83v3H6V58c0-3.12.68-4,3.2-6.4L14,48V59.18l-3.42,3.4,2.84,2.84,16-16c.22-.24.52-.52,1.32.2a6.38,6.38,0,0,1,.78,8L26,63.18V70a5.38,5.38,0,0,1-6,6v4a9.32,9.32,0,0,0,9.84-8H38Zm18-6H30V64.82l4.44-4.42.14-.18A10.32,10.32,0,0,0,33.4,46.64a4.68,4.68,0,0,0-6.82,0L18,55.18V4H56Z"></path>
                                                <path id="Path_502" data-name="Path 502"
                                                      d="M15,13.74A8,8,0,0,0,20.74,8H31.26A8,8,0,0,0,37,13.74V50.26A8,8,0,0,0,31.26,56H25v4H35V58a4,4,0,0,1,4-4h2V10H39a4,4,0,0,1-4-4V4H17V6a4,4,0,0,1-4,4H11V42h4Z"
                                                      transform="translate(11 4)"></path>
                                                <path id="Path_503" data-name="Path 503"
                                                      d="M32,22a9,9,0,1,0-9,9,9,9,0,0,0,9-9ZM18,22a5,5,0,1,1,5,5A5,5,0,0,1,18,22Z"
                                                      transform="translate(14 13)"></path>
                                            </svg>

                                        </i>
                                    </div>
                                    <div class="text">
                                        <p>پرداخت در محل</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="number-phone d-flex xmt-16 xmt-lg-20 d-flex justify-content-center align-items-center xp-6">
            <span class="d-inline-block">تلفن مشاوره</span>
            <div class="d-inline-flex flex-column align-items-end xmr-8">
                <a dir="ltr" href="tel:+980000" dideo-checked="true">۰۰۰۰</a>
                <a dir="ltr" href="tel:+98000" dideo-checked="true">۰۰۰</a>
            </div>
        </div>
        <div class="footer-links-wrapper xmt-16 xmt-lg-20">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-6 col-lg-3 xmb-4">
                        <div class="links-box">
                            <h3 class="xmb-4 xmb-lg-6"> دیجیتال</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" dideo-checked="true">
                                        تماس با
                                        ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        بلاگ
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        فرصت&zwnj;های شغلی
                                    </a>
                                </li>
                                <li>
                                    <a href="#" dideo-checked="true">خبرنامه</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 xmb-4">
                        <div class="links-box">
                            <h3 class="xmb-4 xmb-lg-6"> دیجیتال</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" dideo-checked="true">
                                        تماس با
                                        ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        بلاگ
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        فرصت&zwnj;های شغلی
                                    </a>
                                </li>
                                <li>
                                    <a href="#" dideo-checked="true">خبرنامه</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 xmb-4">
                        <div class="links-box">
                            <h3 class="xmb-4 xmb-lg-6"> دیجیتال</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" dideo-checked="true">
                                        تماس با
                                        ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        بلاگ
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        فرصت&zwnj;های شغلی
                                    </a>
                                </li>
                                <li>
                                    <a href="#" dideo-checked="true">خبرنامه</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 xmb-4">
                        <div class="links-box">
                            <h3 class="xmb-4 xmb-lg-6"> دیجیتال</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" dideo-checked="true">
                                        تماس با
                                        ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        بلاگ
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       dideo-checked="true">
                                        فرصت&zwnj;های شغلی
                                    </a>
                                </li>
                                <li>
                                    <a href="#" dideo-checked="true">خبرنامه</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="container">
            <div class="description-footer-wrapper xmt-16 xpt-10 xpb-10">
                <div class="social-media-icons d-flex justify-content-between align-items-stretch align-items-lg-start flex-column-reverse flex-lg-row">
                    <div class="social-media">
                        <ul class="d-flex list-unstyled justify-content-center">
                            <li class="nav-item xml-4">
                                <a href="https://t.me/" dideo-checked="true">
                                    <i class="icon ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29.029" height="24"
                                             viewBox="0 0 29.029 24">
                                            <path id="Path_13051" data-name="Path 13051"
                                                  d="M43.4,80.561l17.29-7.124c1.707-.742,7.5-3.117,7.5-3.117s2.672-1.039,2.449,1.484c-.074,1.039-.668,4.675-1.262,8.608l-1.855,11.65s-.148,1.707-1.412,2-3.339-1.039-3.71-1.336c-.3-.223-5.566-3.562-7.5-5.194a1.406,1.406,0,0,1,.074-2.375c2.672-2.449,5.863-5.491,7.792-7.421.891-.89,1.781-2.968-1.929-.445l-10.463,7.05a4.361,4.361,0,0,1-3.414.074c-2.226-.668-4.823-1.558-4.823-1.558s-1.781-1.113,1.262-2.3Z"
                                                  transform="translate(-41.617 -70.109)"></path>
                                        </svg>

                                    </i>
                                </a>
                            </li>
                            <li class="nav-item xml-4">
                                <a href="https://www.instagram.com/" dideo-checked="true">
                                    <i class="icon ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24.001"
                                             viewBox="0 0 24 24.001">
                                            <path id="Shape_9" data-name="Shape 9"
                                                  d="M1941.959,1795h10.08a6.965,6.965,0,0,1,6.96,6.96v10.08a6.96,6.96,0,0,1-6.96,6.96h-10.08a6.965,6.965,0,0,1-6.96-6.96v-10.08a6.96,6.96,0,0,1,6.96-6.96m-.24,2.4a4.32,4.32,0,0,0-4.32,4.32h0v10.56a4.317,4.317,0,0,0,4.32,4.32h10.56a4.32,4.32,0,0,0,4.32-4.32h0v-10.56a4.318,4.318,0,0,0-4.32-4.32h-10.56m11.58,1.8a1.5,1.5,0,1,1-1.5,1.5,1.5,1.5,0,0,1,1.5-1.5m-6.3,1.8a6,6,0,1,1-6,6,6,6,0,0,1,6-6m0,2.4a3.6,3.6,0,1,0,3.6,3.6A3.6,3.6,0,0,0,1947,1803.4Z"
                                                  transform="translate(-1934.999 -1794.999)"></path>
                                        </svg>

                                    </i>
                                </a>
                            </li>
                            <li class="nav-item xml-4">
                                <a href="https://www.youtube.com/"
                                   dideo-checked="true">
                                    <i class="icon ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18.003"
                                             viewBox="0 0 24 18.003">
                                            <path id="Icon_ionic-logo-youtube"
                                                  data-name="Icon ionic-logo-youtube"
                                                  d="M23.844,8.476a3.644,3.644,0,0,0-3.469-3.807c-2.6-.122-5.246-.169-7.951-.169H11.58c-2.7,0-5.354.047-7.951.169A3.652,3.652,0,0,0,.164,8.485C.047,10.154,0,11.823,0,13.492S.047,16.83.159,18.5a3.657,3.657,0,0,0,3.465,3.821c2.729.127,5.527.183,8.373.178s5.64-.047,8.373-.178A3.657,3.657,0,0,0,23.839,18.5c.113-1.674.164-3.343.159-5.016S23.956,10.149,23.844,8.476ZM9.7,18.091V8.879l6.8,4.6Z"
                                                  transform="translate(0 -4.5)"></path>
                                        </svg>

                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.aparat.com/" dideo-checked="true">
                                    <i class="icon ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24">
                                            <path id="Shape_19" data-name="Shape 19"
                                                  d="M1789.6,1818.02c-.726-.159-1.44-.374-2.159-.564-.035-.009-.068-.024-.1-.035a11.69,11.69,0,0,0,7.342-4.388c-.218.812-.432,1.625-.654,2.436a3.191,3.191,0,0,1-.6,1.19,3.618,3.618,0,0,1-2.887,1.467A4.412,4.412,0,0,1,1789.6,1818.02Zm-13.95-9.048a10.094,10.094,0,0,1-.382-3.371,10.4,10.4,0,0,1,20.169-3.027,9.708,9.708,0,0,1,.6,4.071,10.242,10.242,0,0,1-5.9,8.866,9.569,9.569,0,0,1-3.4.961c-.36.038-.723.047-.933.06A10.46,10.46,0,0,1,1775.649,1808.972Zm10,1.805a2.984,2.984,0,1,0,2.985-2.98h0A2.981,2.981,0,0,0,1785.649,1810.777Zm-7.47-1.442a2.984,2.984,0,1,0,2.98-2.98h0A3,3,0,0,0,1778.179,1809.335Zm6.094-3.124a1.327,1.327,0,1,0,1.324-1.339A1.32,1.32,0,0,0,1784.273,1806.211Zm2.894-3.307a2.983,2.983,0,1,0,2.985-2.976h0A2.975,2.975,0,0,0,1787.167,1802.9Zm-7.472-1.438a2.984,2.984,0,1,0,2.993-2.98h0A3,3,0,0,0,1779.7,1801.466Zm-2.341,13.309c-.445-.123-.9-.218-1.333-.383a3.7,3.7,0,0,1-2.245-4.406c.16-.629.333-1.254.5-1.881.008-.03.021-.06.041-.117a11.606,11.606,0,0,0,4.139,7.08C1778.089,1814.972,1777.721,1814.877,1777.354,1814.775Zm15.265-17.655.9.238c.5.134,1.007.259,1.506.405a3.675,3.675,0,0,1,2.626,3.747,8.567,8.567,0,0,1-.287,1.411c-.127.528-.276,1.051-.416,1.576-.012.044-.028.087-.054.174A11.631,11.631,0,0,0,1792.619,1797.121Zm-15.646.831c.12-.445.22-.9.37-1.334a3.656,3.656,0,0,1,3.863-2.466,15.1,15.1,0,0,1,1.7.389c.347.084.69.183,1.035.274a11.917,11.917,0,0,0-3.975,1.383,12.054,12.054,0,0,0-3.245,2.7C1776.8,1798.587,1776.887,1798.269,1776.974,1797.952Z"
                                                  transform="translate(-1773.656 -1794.126)"></path>
                                        </svg>

                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="app-store text-center">
                        <ul class="d-flex xmb-0 list-unstyled justify-content-center">


                            <li class="xml-3 xmb-4">
                                <a href="https://cafebazaar.ir/"
                                   dideo-checked="true">
                                    <span>CafeBazaar</span>
                                    <i>
                                        <i class="icon ">
                                            <!-- Generated by IcoMoon.io -->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" viewBox="0 0 128 128">

                                                <path fill="currentColor"
                                                      d="M65.004 12c3.433 0.016 6.571 1.271 8.991 3.34l-0.019-0.016c3.882 4.125 6.948 9.067 8.909 14.536l0.091 0.292c0.3 0.615 0.603 1.367 0.855 2.141l0.037 0.131c0.351 1.061 0.718 1.945 1.14 2.796l-0.056-0.124c0.37 0.755 0.859 1.395 1.45 1.923l0.006 0.005c7.428 0.971 14.151 3.235 20.202 6.568l-0.294-0.148q7.076 4.292 5.32 10.372c-0.913 9.872-3.052 18.963-6.279 27.522l0.239-0.722c-4.21 10.917-8.431 19.932-13.178 28.619l0.622-1.243q-3.56 4.588-15.004 6.8c-4.002 0.763-8.605 1.199-13.311 1.199-4.009 0-7.944-0.317-11.781-0.927l0.424 0.055c-7.749-0.722-14.709-3.618-20.398-8.064l0.086 0.064c-8.421-15.871-14.419-34.362-16.924-53.946l-0.084-0.806q-0.732-5.824 6.716-9.832c5.856-2.919 12.664-4.992 19.847-5.84l0.293-0.028c0.195-0.194 0.379-0.398 0.549-0.614l0.011-0.014q1.1-1.948 3.668-7.508c1.44-3.251 2.923-5.99 4.592-8.598l-0.152 0.254c1.331-2.382 3.152-4.341 5.339-5.794l0.061-0.038c2.067-1.429 4.615-2.301 7.363-2.352l0.013-0q0.324 0 0.652 0zM65.124 16.744c-2.054 0.010-3.972 0.585-5.608 1.579l0.048-0.027c-0.86 0.482-1.593 1.075-2.212 1.771l-0.008 0.009c-0.515 0.54-1.003 1.121-1.453 1.731l-0.035 0.049q-0.4 0.616-1.516 2.656t-1.2 2.196c-1.398 2.582-2.714 5.624-3.768 8.785l-0.12 0.414 0.54-0.048c1.239-2.777 2.43-5.050 3.739-7.244l-0.175 0.316c2.182-4.266 6.204-7.323 10.99-8.143l0.090-0.013c4.654 0.429 8.579 3.19 10.629 7.091l0.035 0.073c1.319 2.198 2.709 4.867 3.952 7.617l0.208 0.515 0.556 0.060c-0.549-2.915-1.504-5.514-2.82-7.885l0.068 0.133q-0.444-0.8-1.56-3.076c-0.712-1.488-1.403-2.719-2.162-3.904l0.086 0.144c-0.65-0.996-1.387-1.858-2.221-2.614l-0.011-0.010c-1.517-1.355-3.529-2.183-5.735-2.183-0.124 0-0.248 0.003-0.371 0.008l0.017-0.001zM64.724 25.064c-1.724 0.053-3.239 0.902-4.198 2.189l-0.010 0.015c-1.755 2.366-3.44 5.047-4.914 7.857l-0.162 0.339q3.804-0.196 7.544-0.204 5.276 0 10.564 0.328-0.268-0.504-1.296-2.568t-1.536-2.928c-0.519-0.827-1.046-1.541-1.621-2.213l0.021 0.025c-0.665-0.822-1.428-1.527-2.28-2.113l-0.036-0.023c-0.551-0.439-1.258-0.704-2.026-0.704-0.010 0-0.021 0-0.031 0h0.002zM63.004 39.548h-1.112q-4.7 0.104-8.588 0.4-1.828 4.064-4 9.968c3.361-0.236 7.283-0.37 11.236-0.37 6.776 0 13.46 0.395 20.030 1.162l-0.798-0.076q-2.028-5.912-3.928-10.3c-3.824-0.481-8.278-0.771-12.794-0.8l-0.038-0zM47.888 40.5c-9.089 1.019-17.34 3.837-24.651 8.093l0.299-0.16-0.48 0.352q-0.452 0.328-0.82 0.64c-0.303 0.264-0.579 0.539-0.836 0.83l-0.008 0.010c-0.259 0.257-0.451 0.582-0.545 0.946l-0.003 0.014c-0.015 0.103-0.024 0.223-0.024 0.344 0 0.233 0.032 0.459 0.092 0.673l-0.004-0.017c0.428 0.677 1.122 1.153 1.932 1.282l0.016 0.002c0.575 0.117 1.237 0.183 1.914 0.183 0.546 0 1.082-0.043 1.604-0.127l-0.058 0.008q2.048-0.26 3.96-0.66t4.32-0.96q2.4-0.564 3.66-0.764 2.864-0.46 5.932-0.8 3.036-8.2 3.704-9.888zM81.408 41.108q1.688 4.352 3.532 10.136 4.248 0.548 8.74 1.276c1.218 0.217 2.619 0.342 4.050 0.342 1.152 0 2.285-0.081 3.394-0.236l-0.128 0.015q4.268-0.484 5.288-1.904c0.257-0.32 0.413-0.732 0.413-1.18 0-0.538-0.224-1.023-0.584-1.367l-0.001-0.001c-2.577-1.908-5.7-3.229-9.094-3.704l-0.106-0.012c-4.061-1.178-9.3-2.348-14.634-3.241l-0.89-0.123z"></path>
                                            </svg>

                                        </i>
                                    </i>
                                </a>
                            </li>
                            <li class="g-play xmb-4">
                                <a href="https://play.google.com"
                                   dideo-checked="true">
                                    <span>Google Play</span>
                                    <i>
                                        <i class="icon ">
                                            <!-- Generated by IcoMoon.io -->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" viewBox="0 0 128 128">

                                                <path fill="currentColor"
                                                      d="M16.004 22.292q-0.024 0.344-0.024 0.7 0-0.36 0.024-0.7zM16.004 22.268c0 0.003 0.001 0.006 0.001 0.010s-0 0.007-0.001 0.010v-0c0-0.003 0-0.006 0-0.010s-0-0.007-0.001-0.010v0zM16.004 22.248s0 0 0 0 0 0 0 0zM18.036 18.048c-1.281 1.284-2.074 3.057-2.074 5.015 0 0.176 0.006 0.351 0.019 0.524l-0.001-0.023v81.456c-0.008 0.13-0.013 0.282-0.013 0.436 0 1.843 0.677 3.527 1.797 4.817l-0.008-0.009 0.284 0.268 47.548-46.248-47.548-46.248z"></path>
                                                <path fill="currentColor"
                                                      d="M111.056 67.084c-0.817 1.083-1.846 1.961-3.031 2.584l-0.049 0.024-18.776 10.384 18.776-10.376c1.233-0.649 2.262-1.528 3.063-2.589l0.017-0.023zM88.84 48.888l-15.852 15.42 15.852 15.42 19.136-10.576c2.014-0.893 3.505-2.65 4.014-4.788l0.010-0.048c-0.517-2.188-2.008-3.947-3.979-4.822l-0.045-0.018-19.136-10.572z"></path>
                                                <path fill="currentColor"
                                                      d="M21.752 114.8v0c0.872 0.747 2.013 1.202 3.261 1.202 0.046 0 0.092-0.001 0.138-0.002l-0.007 0c-0.039 0.001-0.084 0.002-0.13 0.002-1.248 0-2.39-0.455-3.269-1.207l0.007 0.006zM21.492 114.556c0.072 0.072 0.144 0.144 0.224 0.212l-0.224-0.212zM69.296 68.004v0l-47.548 46.248c0.873 0.747 2.016 1.202 3.265 1.202 0.045 0 0.089-0.001 0.134-0.002l-0.007 0c1.592-0.054 3.066-0.512 4.337-1.275l-0.041 0.023 55.708-30.8-15.852-15.42z"></path>
                                                <path fill="currentColor"
                                                      d="M25.124 13.144c-0.038-0.001-0.083-0.002-0.128-0.002-1.247 0-2.389 0.455-3.267 1.207l0.007-0.006 47.548 46.252 15.852-15.42-55.708-30.8c-1.232-0.742-2.709-1.202-4.289-1.256l-0.015-0zM25.124 12.576c-0.192 0-0.38 0-0.564 0.024 0.184 0 0.368-0.024 0.56-0.024 1.595 0.054 3.072 0.514 4.345 1.279l-0.041-0.023c-1.231-0.742-2.706-1.202-4.285-1.256l-0.015-0z"></path>
                                            </svg>

                                        </i>
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-footer xmt-16">
                    <h1 class="h5">فروشگاه آنلاین </h1>

                    <p>
                        خرید راحت و مطمئن با دیجیتال
                    </p>


                </div>
            </div>
            <div class="copy-right xpt-10 xpb-8 text-center d-none d-lg-block">
                <p>
                    کلیه حقوق این سایت محفوظ می&zwnj;باشد.
                </p>
            </div>
        </div>
    </div>
</div>

