


<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nokshi - Minimalist eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/webAsset/3/assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/webAsset/3/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/webAsset/3/assets/css/animate.css">
    <link rel="stylesheet" href="~/webAsset/3/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/webAsset/3/assets/css/chosen.min.css">
    <link rel="stylesheet" href="~/webAsset/3/assets/css/themify-icons.css">

    <link rel="stylesheet" href="~/webAsset/3/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/webAsset/3/assets/css/bundle.css">

    <link rel="stylesheet" href="~/webAsset/3/assets/css/responsive.css">

    @RenderSection("header", required: false)


    <link rel="stylesheet" href="~/webAsset/3/assets/css/style.css">
    <script src="~/webAsset/3/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/font.css" rel="stylesheet" />
    @RenderSection("HeadIncludes", required: false)
    <link href="~/webAsset/3/assets/css/ionicons.css" rel="stylesheet" />

</head>
<body>


    @RenderBody()



    <div>
        @{Html.RenderAction("contactSection", "Home");}
    </div>
    <!-- all js here -->
    <script src="~/webAsset/3/assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/webAsset/3/assets/js/popper.js"></script>
    <script src="~/webAsset/3/assets/js/bootstrap.min.js"></script>
    <script src="~/webAsset/3/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/webAsset/3/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/webAsset/3/assets/js/jquery.counterup.min.js"></script>
    <script src="~/webAsset/3/assets/js/waypoints.min.js"></script>
    <script src="~/webAsset/3/assets/js/ajax-mail.js"></script>
    <script src="~/webAsset/3/assets/js/owl.carousel.min.js"></script>
    <script src="~/webAsset/3/assets/js/plugins.js"></script>
    <script src="~/webAsset/3/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>


