@model banimo.AdminPanelBoom.ViewModel.brandRoot


@if (Model.brandList != null)
{
    <select class="form-control" id="productBrand">
        @foreach (var item in Model.brandList)
        {
          <option value="@item.ID">@item.title</option>
        }

    </select>
}
